{% extends 'multiforms/mf_base.html' %}

{% block title %}Questions and Answers{% endblock title %}

{% block main %}
    <div class="card my-4 m-auto" style="width: 70%;">
        <div class="card-body py-5 text-center">
            <h2>Welcome to Questions and Answers</h2>
            <p>A community where we solve each other's technical problems</p>
            <div class="mt-5">
                <a href="#"><button class="btn btn-lg btn-dark">View all Questions</button></a>
                <a href="#"><button class="btn btn-lg btn-success">Ask a Question</button></a>
            </div>
        </div>
    </div>
{% endblock main %}
