{% extends 'accounts/ac_base.html' %}

{% block title %}Register{% endblock title %}

{% block style %}
    th, td {
        padding: 15px;
    }
    .helptext {
        font-size: 10px;
        list-style-type: none;
    }
{% endblock style %}

{% block main %}
<div class="card m-auto mt-5" style="width: 65%;">
    <div class="card-body p-5">
        <form method="POST">
            <table>
                {{ form.as_table }}
                {% csrf_token %}
            </table>
            <button class="btn btn-primary btn-lg" type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock main %}
